* {
	font-family: 'Poiret One', cursive;
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

a:hover { 
	text-decoration: none;
	color: #6b430e;
}

a:-webkit-any-link {
	text-decoration: none;
}

li:hover {
	background-color: #C9B79F;
	transition: background .5s;
	color: #6b430e;
}

.project h2:hover {
	background-color: #6b430e;
	transition: background .5s;
	color: white;
}

#navBar {
	position: fixed;
	background-color: #621A19;
	z-index: 1;
	width: 100%;
	text-align: left;
}

#navBar ul {
	margin: auto;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 0;
}

#header {
	background-color: #6b430e;
	padding: 4em 4em 2em 0;
}

#titleBar {
	text-align: right;
}

#titleBar h1 {
	font-size: 8em;
	font-weight: bold;
}

#titleBar h3 {
	font-size: 2em;
	font-weight: bold;
}

#logoBar img {
	width: 100%;
	border-radius: 100%;
	padding: 2em 0 0 3em;
}

.pageContent {
	background-color: #621A19;
	padding: 0 0 0.4em 2em;
	text-align: left;
	font-size: 1.5em;
	font-weight: bold;
	color: white;
}

p {
	font-size: 2em;
	padding: 1em 2em 1em 2em;
	background-color: #C9B79F;
	margin: 0;
	color: #6b430e;
}

.p1 {
	background: 
    url(../img/resume.jpg) no-repeat center center;
  	background-size: cover;
  	height: 23em;
}

.p2 {
	background: 
    url(http://www.loktah.com/sites/default/files/imagecache/gallery_product/lush_portfolio.jpg) no-repeat center center;
  	background-size: cover;
  	height: 23em;
}

.p3 {
	background: 
    url(../img/gingko.jpg) no-repeat center center;
  	background-size: cover;
  	height: 23em;
}

.p4 {
	background: 
    url(../img/pine.jpg) no-repeat center center;
  	background-size: cover;
  	height: 23em;
}

.p5 {
	background: 
    url(../img/pink.jpg) no-repeat center center;
  	background-size: cover;
  	height: 23em;
}

.p6 {
	background: 
    url(../img/woods.jpg) no-repeat center center;
  	background-size: cover;
  	height: 23em;
}

.project h2 {
	text-align: center;
	background-color: #C9B79F;
	font-size: 1.7em;
	font-weight: bold;
	color: #6b430e;
	padding: 0.5em 0 0.5em 0;
	margin: 0;
}

.col-md-4 {
	padding: 0;
}

#footer ul {
	margin: auto;
	text-align: center;
	font-weight: bold;
}

#footer {
	background-color: #621A19;
	color: white;
	padding: 0.5em 0 0.5em 0;
}

li {
	display: inline;
	font-size: 1.7em;
	padding: 0.4em;
}

@media only screen and (max-width: 767px) {
  #logoBar {
    display: none;
  }
  #header {
  	padding: 4em 0 2em 0;
  }
  #titleBar{
  text-align: center;
  }
}
